

body{
	width: 100%;
	background-color:#505050;
	transition: background 1s linear;
	position: relative;
	background: url(../img/Optimized-Blur-4.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-size: 100% 100%;

}

#header {
	margin: 5% auto 2.5% auto;
	width: 80%;
	text-align: center;
	color: white;
}


#logon{
  background: #3B5998;
  font-size: 100%;
  padding: 1%;
  width: 20%;
  margin:10% auto;
  text-align: center;

	}


#logon:hover{
	background: #4B5998;
}
	
#logon > a{
  color: white;
  text-decoration: none;
}

#background {
	max-width: 100%;
	max-height: 100%;
	background-color: green;
}

h1 {
	margin: 0;
}

#car_dropdown,  #make_dropdown{
				width: 100%;
			}

#chosen_make, #chosen_car {
	margin-right: 15%;
}

#car_container {
	margin: auto;
	width: 60%;
	padding: 0;
	display: block;
	text-align: center;

			}
#plus {
	display: none;
	margin-right: 5%;
}
