body{
	width: 100%;
	background-color:#505050;
	transition: background 1s linear;
	position: relative;
	background: url(../img/Optimized-Blur-4.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-size: 100% 100%;

}

#header {
	margin: 5% auto 2.5% auto;
	width: 80%;
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
}


#logon, #submit_button{
  background: #3B5998;
  font-size: 100%;
  padding: 1%;
  width: 20%;
  margin:5% auto;
  text-align: center;
  color: white;
  border-radius: 10px;
	}

#submit_button {
	display: none;

}

#logon:hover{
	background: #4B5998;
}
	
#logon > a{
  color: white;
  text-decoration: none;
}

#background {
	max-width: 100%;
	max-height: 100%;
	background-color: green;
}

h1 {
	margin: 0;
}

#car_dropdown,  #make_dropdown{
				width: 100%;
			}

#chosen_car, #chosen_pref {
	font-size: 100%;
	padding: 1%;
	width: 20%;
	margin:5% auto;
	text-align: center;
	color: white;
	display:none;
	border-radius: 10px;

}

#chosen_pref {
	background: #A80F0F;
}

#chosen_car {
	background: #0FA8A8;
}


#car_container, #transport_container, #map_container, #data_container {
	margin: auto;
	width: 65%;
	padding: 0;
	display: none;
	text-align: center;
	margin-top: 5%;
	
}

#map_container {
	height: 500px;
	margin: 5%, auto;
}

#plus {
	display: none;
	margin-right: 5%;
}

#desired_transport_dropdown{
	display: none;
}

#map-canvas {
	height: 90%;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	margin: 5% 0;

}
.instyle {
	width:50%;
}
#prop {
	display:none;
	
} 
#map {
	height:400px;

}

input, textarea { 
    padding: 9px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    font: normal 13px/100% Verdana, Tahoma, sans-serif; 
    width: 200px; 
    background: #FFFFFF  left top repeat-x; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    } 


input:hover, textarea:hover, 
input:focus, textarea:focus { 
    border-color: #C9C9C9; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
    } 


input[type="button"] {
	margin: 2% auto;
	background: #617798; 
    border: 0; 
    font-size: 14px; 
    color: #FFFFFF; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}



#after-login {
	margin: auto;
	width: 60%;
	padding: 0;
	display: block;
	text-align: center;
	
}


#logon:hover {

	background: #2980b9;
}



#footer > * {
	color: white;
}

h3 {
	font-size: 100%;	
}


