
#post-login, #post-login > * {
	margin: 0;
	padding: 0;
}

#profile-picture {
	width: 200px;
	height: 179px;
	
	border-radius: 1em;
}

#profile-picture {
	-webkit-filter: blur(2px);
}

#truck {
	float: left;	
}

#logon {
	box-shadow: 2px 4px 10px #333;
	
}

#logon:hover {
	box-shadow: inset 2px 4px 10px #333;
	background: #2980b9;
}

#footer {
	width: 100%;
	height: 5%;
	display: block;
	position: fixed; 
	bottom: 0;
	box-shadow: 2px 4px 10px black;
	background: #2980b9;
	text-align: center;
	padding: 1em;
}

h3 {
	font-size: 100%;	
}